.navbar {
  /* width: 100%; */
  margin: 0;
  padding: 10px 20px;
  background-color: #312d2d;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  font-family: "Times New Roman", Times, serif;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  padding: 3vw;
  gap: 40vw;
  background-color: rgb(214, 202, 188);
}
h1 {
  margin: 0;
}
h1:nth-child(1) {
  font: lighter clamp(15px, 2vw,20px) "Times New Roman", Times, serif;
}
h1:nth-child(2) {
  font: bolder clamp(15px, 2vw,25px) "Times New Roman", Times, serif;
}
.contact-btn{
  margin-top: 2vw;
  background-color: rgb(40, 47, 51);
  padding: 1vw 2vw;
  color: white;
  border: none;
  font: 0.8rem "Times New Roman", Times, serif;
  width: fit-content;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.stats div{
  display: flex;
  flex-direction: column;
  width: 10vw;
  padding: 10px;
}
.stats h1, h3, p{
  color: rgb(140, 123, 108);
}
h3{
  margin: 0;
}
.right {
  /* position: absolute; */
}
.profile-img {
  width: 30vw;
  height: 70vh;
  /* border-radius: 80%; */
  position: relative;
  bottom: 0%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #312d2d;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: 10vw;
  }
  .profile-img {
    width: 70vw;
    height: 50vh;
  }
  .stats{
    flex-direction: column;
  }
  .stats div{
    width: 70vw;
  }
  .contact-btn{
    margin-top: 1vw;
  }
  .nav-list {
    display: none;
  }
  .nav-logo img {
    width: 30px;
    height: 30px;
  }
  .navbar {
    justify-content: center;
  }
  .left {
    text-align: center;
    align-items: center;
  }
}
